{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <h2>List of Newbies</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Gender</th>
            <th>Nationality</th>
            <th>Languages</th>
        </tr>
        {% for newbie in newbies %}
        <tr>
            <td>{{ newbie.id }}</td>
            <td>{{ newbie.firstname }}</td>
            <td>{{ newbie.lastname }}</td>
            <td>{{ newbie.genderText }}</td>
            <td>{{ newbie.nationality }}</td>
            <td>
                <ul>
                    {% for key, language in newbie.languages %}
                        <li class="list-unstyled">{{ newbie.languages[key] }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}