{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="alert alert-success">
        <strong>{{ success }}</strong>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-1">{{ form_widget(form.nationality) }}</div>
        <div class="col-md-1">{{ form_widget(form.age) }}</div>
        <div class="col-md-1">{{ form_widget(form.gender) }}</div>
        <div class="col-md-1">{{ form_widget(form.languages) }}</div>
        <div class="col-md-1">{{ form_widget(form.match) }}</div>
    </div>
    {{ form_end(form) }}
    <h3>Matches</h3>
        <div class="table-responsive col-md-6">
            <table class="table" style="float: left">
                <tr>
                    <th>Newbie</th>
                    <th>Nationality</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Languages</th>
                </tr>
                {% for newbie in newbies %}
                    <tr>
                        <td>{{ newbie.firstname | default('No match!') }} {{ newbie.lastname | default('') }}</td>
                        <td>{{ newbie.nationality | default('No match!')}}</td>
                        {% if newbie.gender is not defined %}
                            <td>{{ newbie.gender | default('No match!') }}</td>
                        {% else %}
                            <td>{{ newbie.gender|genderDecision }}</td>
                        {% endif %}
                        <td>{{ newbie.age | default('No match!') }}</td>
                        {% if newbie.languages is not defined %}
                            <td>{{ newbie.languages | default('No match!') }}</td>
                        {% else %}
                            {% for key, language in newbie.languages %}
                                <td>{{ newbie.languages[key] }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    <script>
        window.setTimeout(function() {
            $(".alert-success").fadeTo(300, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 2000);

        var boxes = $('.col-md-1');
        boxes.on('change', function () {
            $('#filter_match').prop('disabled', !boxes.filter(':checked').length);
        }).trigger('change');
    </script>
{% endblock %}