{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="alert alert-success">
        <strong>{{ success }}</strong>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-1">{{ form_widget(form.nationality) }}</div>
        <div class="col-md-1">{{ form_widget(form.age) }}</div>
        <div class="col-md-1">{{ form_widget(form.gender) }}</div>
        <div class="col-md-1">{{ form_widget(form.languages) }}</div>
        <div class="col-md-1">{{ form_widget(form.match) }}</div>
    </div>
    {{ form_end(form) }}
    <h3>Matches</h3>
        <div class="table-responsive col-md-6">
            <table class="table" style="float: left">
                <tr>
                    <th>Newbie</th>
                    <th>Nationality</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Languages</th>
                </tr>
                {% for match in matches %}
                    <tr>
                        <td>{{ match.firstname | default('') }} {{ match.lastname | default('') }}</td>
                        <td>{{ match.nationality | default('')}}</td>
                        {% if match.gender is not defined %}
                            <td>{{ match.gender | default('No match!') }}</td>
                        {% else %}
                            <td>{{ match.gender | genderDecision }}</td>
                        {% endif %}
                        <td>{{ match.age | default('') }}</td>
                        {% if match.languages is not defined %}
                            <td>{{ match.languages | default('') }}</td>
                        {% else %}
                            {% for key, language in match.languages %}
                                <td>{{ match.languages[key] }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    <script>
        window.setTimeout(function() {
            $(".alert-success").fadeTo(300, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 2000);
    </script>
{% endblock %}