{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="starter-template">
            <h1>Buddies Matcher Tool</h1>
            <p class="lead">Use this tool to match employees with newbies.<br> Check the lists on the navigation bar or press the button match the buddies</p>
        </div>
        {{ form_start(form) }}
        <div class="index_row">
            <div class="checkbox-inline">{{ form_widget(form.nationality) }}</div>
            <div class="checkbox-inline">{{ form_widget(form.age) }}</div>
            <div class="checkbox-inline">{{ form_widget(form.gender) }}</div>
            <div class="checkbox-inline">{{ form_widget(form.languages) }}</div>
        </div>
        </br>
        <div class="col-md-2 col-md-offset-5">{{ form_widget(form.match) }}</div>
        {{ form_end(form) }}
    </div><!-- /.container -->

{% endblock %}







