{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{#{% form_theme form 'form/checkboxes.html.twig' %}#}

{% block body %}
    <div class="alert alert-success">
        <strong>{{ success }}</strong>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-1">{{ form_widget(form.nationality) }}</div>
        <div class="col-md-1">{{ form_widget(form.age) }}</div>
        <div class="col-md-1">{{ form_widget(form.gender) }}</div>
        <div class="col-md-1">{{ form_widget(form.languages) }}</div>
        <div class="col-md-1">{{ form_widget(form.match) }}</div>
    </div>
    {{ form_end(form) }}
    <p class="h2"><h2>Matches</h2></p>
    <div class="table-responsive col-md-12">
        <table class="table" style="float: left">
            <tr>
                <th>Newbie</th>
                <th>Nationality</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Languages</th>
                <th>-</th>
                <th>Matched Employee</th>
                <th>Nationality</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Languages</th>
            </tr>
            {% for match in matches %}
                <tr>
                    <td>{{ match.n_firstname }} {{ match.n_lastname }}</td>
                    <td>{{ match.n_nationality }}</td>
                    <td>{{ match.n_gender|genderDecision }}</td>
                    <td>{{ match.n_age }}</td>
                    <td>
                        <ul>
                            {% for language in match.n_languages %}
                                <li class="list-unstyled">{{ language }}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td>-</td>

                    <td>{{ match.e_firstname | default('') }} {{ match.e_lastname | default('') }}</td>
                    {% if match.e_nationality is null %}
                        <td><strong>No Match!</strong></td>
                    {% else %}
                        <td> {{ match.e_nationality }}</td>
                    {% endif %}
                    {% if match.e_gender is null %}
                        <td>{{ match.e_gender | default('') }}</td>
                    {% else %}
                        <td>{{ match.e_gender | genderDecision }}</td>
                    {% endif %}
                    <td>{{ match.e_age | default('') }}</td>
                    <td>
                        {% if match.e_languages is not defined %}
                            No match!
                        {% else %}
                            <ul class="list-unstyled">
                                {% for language in match.e_languages %}
                                    <li>{{ language }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        window.setTimeout(function() {
            $(".alert-success").fadeTo(300, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 2000);

        var boxes = $('.col-md-1');
        boxes.on('change', function () {
            $('#filter_match').prop('disabled', !boxes.filter(':checked').length);
        }).trigger('change');
    </script>
{% endblock %}