{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{#{% form_theme form 'form/checkboxes.html.twig' %}#}

{% block body %}
    <div class="alert alert-success">
        <strong>{{ success }}</strong>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-1">{{ form_widget(form.nationality) }}</div>
        <div class="col-md-1">{{ form_widget(form.age) }}</div>
        <div class="col-md-1">{{ form_widget(form.gender) }}</div>
        <div class="col-md-1">{{ form_widget(form.languages) }}</div>
        <div class="col-md-1">{{ form_widget(form.match) }}</div>
    </div>
    {{ form_end(form) }}
    <p class="h2"><h2>Matches</h2></p>
    <div class="table-responsive col-md-6">
        <table class="table" style="float: left">
            <tr>
                <th>Newbie</th>
                <th>Nationality</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Languages</th>
            </tr>
            {% for match in matches %}
            {% if loop.index is even %}
                <tr>
                    <td>{{ match.firstname | default('No match!') }} {{ match.lastname | default('') }} {{ dump(match) }}</td>
                    <td>{{ match.nationality | default('No match!')}}</td>
                    {% if match.gender is not defined %}
                        <td>{{ match.gender | default('No match!') }}</td>
                    {% else %}
                        <td>{{ match.gender|genderDecision }}</td>
                    {% endif %}
                    <td>{{ match.age | default('No match!') }}</td>
                    {% if match.languages is not defined %}
                        <td>{{ match.languages | default('No match!') }}</td>
                    {% else %}
                        {% for key, language in match.languages %}
                            <td>{{ match.languages[key] }}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
             {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="table-responsive col-md-6">
        <table class="table" style="float: left">
            <tr>
                <th>Matched Employee</th>
                <th>Nationality</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Languages</th>
            </tr>
            {% for match in matches %}
            {% if loop.index is odd %}
                <tr>
                    <td>{{ match.firstname | default('No match!') }} {{ match.lastname | default('') }} {{ dump(match) }}</td>
                    <td>{{ match.nationality | default('No match!')}}</td>
                    {% if newbie.gender is not defined %}
                        <td>{{ match.gender | default('No match!') }}</td>
                    {% else %}
                        <td>{{ match.gender|genderDecision }}</td>
                    {% endif %}
                    <td>{{ match.age | default('No match!') }}</td>
                    {% if match.languages is not defined %}
                        <td>{{ match.languages | default('No match!') }}</td>
                    {% else %}
                        {% for key, language in match.languages %}
                            <td>{{ match.languages[key] }}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <script>
        window.setTimeout(function() {
            $(".alert-success").fadeTo(300, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 2000);

        var boxes = $('.col-md-1');
        boxes.on('change', function () {
            $('#filter_match').prop('disabled', !boxes.filter(':checked').length);
        }).trigger('change');
    </script>
{% endblock %}