{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="alert alert-success">
        <strong>{{ success }}</strong>
    </div>
    <h3>Matches</h3>
    <div class="table-responsive col-md-6">
        <table class="table" style="float: left">
            <tr>
                <th>Matched Employee</th>
                <th>Nationality</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Languages</th>
            </tr>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.firstname }} {{ employee.lastname }}</td>
                <td>{{ employee.nationality }}</td>
                {% if employee.gender is same as(0) %}
                    <td>Male</td>
                {% else %}
                    <td>Female</td>
                {% endif %}
                <td>{{ employee.age }}</td>
                {% for key, language in employee.languages %}
                    <td>{{ employee.languages[key] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-responsive col-md-6">
        <table class="table" style="float: left">
            <tr>
                <th>Newbie</th>
                <th>Nationality</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Languages</th>
            </tr>
            {% for newbie in newbies %}
            <tr>
                <td>{{ newbie.firstname }} {{ newbie.lastname }}</td>
                <td>{{ newbie.nationality }}</td>
                {% if newbie.gender is same as(0) %}
                    <td>Male</td>
                {% else %}
                    <td>Female</td>
                {% endif %}
                <td>{{ newbie.age }}</td>
                {% for key, language in newbie.languages %}
                    <td>{{ newbie.languages[key] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
            <div class="form-group">
                {{ form_start(form) }}
                <div class="col-xs-6">
                    {{ form_widget(form) }}
                </div>
                {{ form_end(form) }}
            </div>
    </div>
    <script>
        window.setTimeout(function() {
            $(".alert-success").fadeTo(300, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 2000);
    </script>
{% endblock %}