{% extends '::base.html.twig' %}

{% block body %}
    <h3>Matches</h3>
    <div class="match_tables">
        <table style="float: left">
            <tr>
                <th>Matched Employee</th>
                <th>Language</th>
            </tr>
            {% for employee in employees %}
                <tr>
                    {% if employee.firstname is empty %}
                        <td>No match!</td>
                    {% else %}
                        <td>{{ employee.firstname }} {{ employee.lastname }}</td>
                    {% endif %}
                    {% for key, language in employee.languages %}
                        <td>{{ employee.languages[key] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <table style="float: left">
            <tr>
                <th>Newbie</th>
                <th>Language</th>
            </tr>
            {% for newbie in newbies %}
                <tr>
                    <td>{{ newbie.firstname }} {{ newbie.lastname }}</td>
                    {% for key, language in newbie.languages %}
                        <td>{{ newbie.languages[key] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}