{% extends '::base.html.twig' %}

{% block body %}
    <script>
        function display() {
            var x = document.getElementById('table');
            if (x.style.display === 'none') {
                x.style.display = 'block';
                var display = {{ render(controller('AppBundle:Default:filterByNationality')) }};
                console.log(display);
            } else {
                x.style.display = 'none';
            }
        }
    </script>
    <h3>Matches</h3>
    <div id="table">
        <table style="float: left">
            <tr>
                <th>Matched Employee</th>
                <th>Age</th>
            </tr>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.firstname }} {{ employee.lastname }}</td>
                    <td>{{ employee.age }}</td>
                </tr>
            {% endfor %}
        </table>
        <table style="float: left">
            <tr>
                <th>Newbie</th>
                <th>Age</th>
            </tr>
            {% for newbie in newbies %}
                <tr>
                    <td>{{ newbie.firstname }} {{ newbie.lastname }}</td>
                    <td>{{ newbie.age }}</td>
                </tr>
            {% endfor %}
        </table>
        <button onclick="display()">Display</button>
    </div>
{% endblock %}